.fullscreen{
    height:100vh;
}

.border{
    border: 1px solid black;
}

.border2px{
    border:2px solid black;
}

.borderNoBottom{
    border-bottom:0px
}

.fontbigger{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size: 2em;
}

.middle{
    display:flex;
    justify-content: center;
}

.centerscreen{
    display:flex;
    align-items: center
}

.heightForCart{
    height:50vh;
}